<mat-toolbar color="primary" class="portal-toolbar">
  <nav class="portal-toolbar__nav">
    <a
      mat-button
      type="button"
      routerLink="/availability"
      routerLinkActive="portal-toolbar__link--active"
    >
      {{ 'portalToolbar.availabilityLink' | transloco }}
    </a>
    <a
      mat-button
      type="button"
      routerLink="/incoming-bookings"
      routerLinkActive="portal-toolbar__link--active"
    >
      {{ 'portalToolbar.incomingBookingsLink' | transloco }}
    </a>
    <a
      mat-button
      type="button"
      routerLink="/reviews-received"
      routerLinkActive="portal-toolbar__link--active"
    >
      {{ 'portalToolbar.reviewsReceivedLink' | transloco }}
    </a>
    <a
      mat-button
      type="button"
      routerLink="/professional-profile"
      routerLinkActive="portal-toolbar__link--active"
    >
      {{ 'portalToolbar.professionalProfileLink' | transloco }}
    </a>
  </nav>
</mat-toolbar>
